/*
Color Palette:
background color:  #CCA8E9
font color:        #DEFCF9
secondary color:   #C3BEF0
tertiary color:    #CADEFC
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.navbar{
    text-align:center;
    color:#DEFCF9;
    font-family:'Fredoka One';
}